@charset "UTF-8";

/* 유틸리티 */
/* 글자 색  */
.text-brown {
	color: #a75d00 !important; 
}

/* 디스플레이 */
.d-block {
	display: block;
}

/* 버튼 컴포넌트 */
.btn-container {
	display: flex !important; 
	gap: 50px !important; 
	justify-content: center !important;
}

.btn-brown {
	background-color: #a75d00 !important;
   	color: white !important; 
	transition: background-color !important;
	
	&:hover {
   		background-color: #cc7000 !important;
	}
}

.btn-secondary-brown {
	border: 1px solid #a75d00 !important; 
	color: #a75d00 !important; 
	background-color: transparent !important;
}

/* 카드 컴포넌트 */
.card-image {
	height: 200px !important;
	border: 1px solid #a75d00 !important; 
}

.card-border {
	border: 1px solid #a75d00 !important;
}

.card-list {
	display: grid !important;
	grid-template-columns: 1fr 1fr !important; 
	padding: 0 !important; 
	row-gap: 5px !important; 
	column-gap: 2px !important;
}

.card-item {
	display: flex !important; 
	align-items: center !important;
	gap: 3px !important; 
	font-size: 14px !important;
}

.card-icon {
	width: 15px !important; 
	height: 15px !important; 
	object-fit: contain !important;
}

/* 헤더 컴포넌트 */
.gnb-title {
	color: #a75d00 !important;
	font-weight: bold !important;
	transition: color 0.5s !important;
	
	&:hover {
		color: #cc7000 !important; 
	}
}

.gnb-item {
	color: #a75d00 !important;
	
	&:hover {
		color: #cc7000 !important;
	}
}

.gnb-logo {
	width: 40px !important; 
	height: 40px !important;
}

/* 홈 페이지  */
.hero-section {
	background-color: #fff4e6;
	padding: 3rem 1rem;
	text-align: center;
	border-radius: 8px;
	border: 1px solid #a75d00;
}

.community-image {
	height: 300px !important;
}
